.w690{
    height:100vh;
    padding:0 4%;
}
.flexRowBetween{
    display:flex;
    align-items:center;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */  
    display: -moz-box; /* Firefox 17- */  
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
    display: -moz-flex; /* Firefox 18+ */  
    display: -ms-flexbox; /* IE 10 */  
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
     -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    box-align:center;
    -webkit-align-items: center;
    align-items: center;
    }
.avoidOverflow{
    overflow-y:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.flex{
    display:flex;
    align-items:center;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */  
    display: -moz-box; /* Firefox 17- */  
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
    display: -moz-flex; /* Firefox 18+ */  
    display: -ms-flexbox; /* IE 10 */  
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    box-align:center;
    -webkit-align-items: center;
    align-items: center;
}
.flexCenter{
    display:flex;
    align-items:center;
    justify-content:center;
     -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    box-align:center;
    -webkit-align-items: center;
    align-items: center;
}
.color{
    color:#eb3434;
}
.color1{
    color:#fff;
}
.color3{
    color:#333;
}
.color6{
    color:#666;
}
.color9{
    color:#999;
}
.font28{
	font-size:0.18rem;
}
.font26{
	font-size:0.26rem;
}
.font20{
	font-size:0.2rem;
}
.font24{
	font-size:0.24rem;
}
.font18{
	font-size:0.18rem;
}
.font16{
	font-size:0.16rem;
}
.img-responsive{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.contain{
    width:1200px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.mian{
    width:100%;
    text-align:center;
}
.invitation{
	width:100%;
	height:100vh;
	position:relative;
	overflow:hidden;
}
.invitation img{
	width:100%;
	height:100%;
}
.marks{
    width:1.60rem;
    height:1.60rem;
    position: absolute;
    right:-.80rem;
    top:-.80rem;
    background:#7cc4c2;
    transform:rotate(45deg);
    text-align: center;
    line-height:2.60rem;
    font-size:.28rem;
    color:#fff;
}
.invitation_cont{
    position:absolute;
    left:3%;
    top:12%;
    width:94%;
    height:7.90rem;
    box-shadow: 0 0 .20rem #f6f6f6;
}
.invitation_tlt{
	font-size:.50rem;
	color:#fc4c74;
	text-align: center;
	height:1.20rem;
	line-height:1.20rem;
}
.invitation_img{
	width:2.04rem;
	height:2.04rem;
	border-radius:50%;
	overflow:hidden;
	margin:0 auto;
	border:solid 0.04rem #fc4c74;
}
.invitation_img img{
	width:100%;
	height:100%;

}
.invitation_word{
	text-align:center;
}
.invitation_word img{
	width:3.46rem;
	height:1.12rem;
	margin:.36rem auto;
}
.bride{
	width:80%;
	height:.60rem;
	line-height:.60rem;
	background:#fc4c74;
	margin:0 auto; 
}
.invitation_word1{
	height:1.10rem;
	line-height:1.10rem;
	text-align: center;color:#fc2558
}
.placeholder{
	color:#f3a558;
}
.time{
    color:#f3a558;
    font-size:.24rem;
    text-align: center;
    margin:0 auto;
    height:.70rem;
    width:60%;
}
.time .color{
	text-align: center;
}
.recommend_scroll_x_box {
  height:100%;
  white-space: nowrap;
  display: flex;
}
.recommend_hot_box {
  width: 100%;
  height:100%;
  display: inline-block;
  overflow:hidden;
}
.w690{
	height:100vh;
}
.next_page{
	margin-top:.30rem;
}
.invitationTwo_tlt{
	text-align: center;
	margin:1rem 0;
}
.invitationTwo_tlt img{
	width:5.00rem;
	height:.82rem;
}
.invitationOne{
	width:88%;
	position:absolute;
	left:6%;
	top:6%;
	height:94%;
}
.invitationOne .invitationSix_img{
	width:4.40rem;
	height:4.40rem;
}
.brage{
	margin-top:.30rem;
}
.brage_center{
	margin:0 .20rem;
}
.brage_center img{
	width:.70rem;
	height:.84rem;
}
.brage_name{
	height:.80rem;
	border-top:solid. 1rem #f3a558;
	border-bottom:solid. 1rem #f3a558;
	color:#f3a558;
	font-size:.36rem;
	line-height:.80rem;
	text-align:center;
	width:40%;
}
.invitationOne .address .time{
	color:#f3a558;
}
.bride_item{
	width:50%;
}
.bride_before{
	width:26%;
	text-align:center;
}
.bride_item input{
	width:54%;
	font-size:.28rem;
	color:#fff;
}
.choose_time{
	width:80%;
	height:100%;
}
.choose_time input{
	background:none;
	border:0;
}
.color{
	color:#f3a558;
}
.address{
	width:80%;
	margin:0 auto;
}
.address_left{
	margin-right:.20rem;
}
.choose_time{
	width:80%;
	height:100%;
}
.picker{
	width:100%;
	height:.70rem;
	line-height:.70rem;
	color:#f3a558;
}
.color{
	color:#f3a558;
}
.address{
	width:80%;
	margin:0 auto;
}
.address_left{
	margin-right:.20rem;
}
.invitationIn{
	position:relative;
	width:100%;
	height:100%;
}
.banquet{
	position: absolute;
	bottom:1rem;
	left:0;
	width:100%;
	text-align: center;
}
/*1-2*/
.invitationSecondOne{
	width:100%;
	height:100vh;
	position:relative;
	overflow:hidden;
}
.invitationSecondOne img{
	width:100%;
	height:100%;
}
.invitationSecondOne{
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
.invitationSecondOne_top{
	width:100%;
	height:1.62rem;
	line-height:1.62rem;
}
.invitationSecondOne_top img{
	width:1.70rem;
	height:.56rem;
}
.invitationSecondOne_left{
	width:25%;
}
.invitationSecondOne_right{
	width:75%;
	height:50%;
	border-bottom:solid 1px #fff;
}
.invitationSecondOne_img{
	width:100%;
	height:4.00rem;
	overflow:hidden;
	transition: all 1s;
	-webkit-transition: all 1s;
	position: relative;
}
.invitationSecondOne_img img{
	width:100%;
	height:100%;
}
.circle1{
	width:.16rem;
	height:.16rem;
	border-radius:50%;
	background: #f3a558;
}
.circle2{
	width:.26rem;
	height:.26rem;
	border-radius:50%;
	border:solid 1px #f3a558;
	margin-top:.20rem;

}
.invitationSecondOne_center_line{
	width:85%;
	border-bottom:dashed 1px #e0e0e0;
	height:.50rem;
	float:left;
}
.invitationSecondOne_center_right{
	float:right;
	margin-top:.30rem;
}
.invitationSecondOne_b_left{
	width:52%;
	float:left;
	height:4.69rem;
	position: relative;
}
.invitationSecondOne_b_right{
	width:48%;
	float:right;
}
.invitationSecondOne_b_left img{
	width:100%;
	height:4.69rem;
}
.invitationSecondOne_bottom{
	clear:both;
	overflow: hidden
}
.invitationSecondOne_word{
	width:2.60rem;
	height:2.42rem;
	border:solid 1px #fff;
	padding:.20rem;
	float:right;
	margin-top:.62rem;
}
.invitationSecondOne_word>view{
	line-height:.36rem;
}
.invitationSecondOne_b_img img{
	width:2.86rem;
	height:1.34rem;
	float:right;
	margin-top:.40rem;
}
/*1-2*/
.invitationSecondTwo{
	width:100%;
	height:100vh;
	position:relative;
	overflow:hidden;
}
.invitationSecondTwo img{
	width:100%;
	height:100%;
}
.invitationSecondTwo{
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
.invitationSecondTwo_left{
	width:59%;
}
.invitationSecondTwo_right{
	width:24%;
	float:right;
}
.invitationSecondTwo_left_top{
	width:3.88rem;
	height:4.96rem;
	position: relative;
}
.invitationSecondTwo_left_top img{
	width:3.88rem;
	height:4.96rem;
	padding:.10rem;
	border:solid 1px #f3a558;
}
.color{
	color:#f3a558;
}
.invitationSecondTwo_left{
	float:left;
	margin-top:.76rem;
}
.invitationSecondTwo_right{
	float:right;
	margin-top:.48rem;
	text-align:right;
}
.invitationSecondTwo_right_top img{
	width:1.70rem;
	height:.56rem;
}
.invitationSecondTwo_right_word{
	width:.56rem;
	font-size:.60rem;
	margin-top:1.00rem;
}
.invitationSecondTwo_right_img{
	position:relative;
	left:-1.00rem;
	margin-top:.30rem;
}
.invitationSecondTwo_right_img img{
	width:2.86rem;
	height:1.34rem;
}
.img_item{
	width:1.80rem;
	height:1.80rem;
	position: relative;
}
.img_item img{
	width:1.80rem;
	height:1.80rem;
	border-radius:50%;
	padding:.10rem;
	border:solid 1px #f3a558;
}
.invitationSecondTwo_bottom{
	clear:both;
	padding-top:.50rem;
}
/*1-4*/
.invitation{
	width:100%;
	height:100vh;
	position:relative;
	overflow:hidden;
}

.invitationOne{
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
.invitationThree_left{
	width:33%;
	float:left;
}
.invitationThree_right{
	width:67%;
	float:right;
}
.invitationThree_left_img{
	width:2.42rem;
	line-height:2.42rem;
	position: relative;
}
.invitationThree_left_img img{
	width:1.70rem;
	height:.56rem;
}

.invitationThree_left_word img{
	width:.48rem;
	height:1.16rem;
}
.word_item{
	width:1.40rem;
	height:1.40rem;
	border-radius:50%;
	border:solid. 4rem #f3a558;
	text-align:center;
	line-height:1.40rem;
	font-size:.80rem;
	color:#f3a558;
	position:relative;
}
.color{
	color:#f3a558;
}
.invitationThree_right_img1{
	width:4.64rem;
	height:3.00rem;
	position: relative;
}
.invitationThree_right_img2{
	width:4.64rem;
	height:6.00rem;
	position: relative;
}
.invitationThree_right_img1 img{
	width:4.64rem;
	height:3.00rem;
	margin:.50rem 0 .20rem 0;
}
.invitationThree_right_img2 img{
	width:4.64rem;
	height:6.00rem;
	margin-bottom:.46rem;
}
.invitationThree_right .color{
	line-height:.36rem;
}
/*1-5*/
.invitationSecondFour_left{
	width:73%;
	float:left;
}
.invitationSecondFour_right{
	width:27%;
	float:right;
}
.invitationSecondFour_left_img{
	width:5.00rem;
	height:7.00rem;
	position: relative;
}
.invitationSecondFour_left_img img{
	width:100%;
	height:100%;
}
.invitationSecondFour_left_word{
	text-align:center;
}
.invitationSecondFour_left_word img{
	width:.88rem;
	height:4.16rem;
	margin-top:1.28rem;
}
.word_item{
	width:1.40rem;
	height:1.40rem;
	border-radius:50%;
	border:solid. 4rem #f3a558;
	text-align:center;
	line-height:1.40rem;
	font-size:.80rem;
	color:#f3a558;
	position:relative;
}
.color{
	color:#f3a558;
}
.invitationSecondFour_right_img1 img{
	width:4.64rem;
	height:3.00rem;
	margin:.50rem 0 .20rem 0;
}
.invitationSecondFour_right_img2 img{
	width:4.64rem;
	height:6.00rem;
	margin-bottom:.46rem;
}
.invitationSecondFour_right .color{
	line-height:.36rem;
}
.invitationSecondFour_b_left{
	width:26%;
	float:left;
}
.invitationSecondFour_b_right{
	width:74%;
	float:right;
	position: relative;
}
.invitationSecondFour_bottom{
	clear:both;
	margin-top:.48rem;
}
.invitationSecondFour_v_word{
	width:.42rem;
	line-height:.36rem;
	color:#f3a558;
	float:left;
	margin:0 .20rem;
}
.invitationSecondFour_b_right img{
	width:5.00rem;
	height:3.04rem;
}
/*1-6*/
.invitationFive_top{
	height:1.30rem;
	width:100%;
	margin-top:.30rem;
	border-bottom:solid 1px #f3a558;
}
.invitationFive_word{
	width:.90rem;
	height:.90rem;
	border-radius:50%;
	overflow: hidden;
	background:#f3a558;
	margin:0 .20rem;
}
.invitationFive_word_in{
	width:.80rem;
	height:.80rem;
	border-radius:50%;
	border:solid 1px #fff;
	margin:0 auto;
	font-size:.50rem;
	text-align: center;
	line-height:.80rem;
	color:#fff;
}
.invitationFive_center{
	width:100%;
	height:4.40rem;
	position: relative;
}
.invitationFive_center img{
	width:100%;
	height:4.40rem;
	margin-top:.30rem;
}
.invitationFive_bottom{
	width:5.60rem;
	height:5.60rem;
	padding:.20rem;
	background:#fff;
	flex-wrap:wrap;
	margin:0 auto;
	position:relative;
	top:-.62rem;
}
.invitationFive_img{
	width:2.70rem;
	height:2.70rem;
	position: relative;
}
.invitationFive_img img{
	width:100%;
	height:100%;
}
/*1-7*/
.invitationSix_top{
	height:2.20rem;
	width:100%;
	margin-top:.50rem;
}
.invitationSix_top img{
	width:100%;
	height:100%;
}
.invitationSix_center{
	width:4.50rem;
	height:4.50rem;
	overflow:hidden;
	border-radius:50%;
	margin:.56rem auto;
	border:solid. 2rem #f3a558;
	position: relative;
}
.invitationSix_center img{
	width:100%;
	height:100%;
}
.invitationSix_img1{
	width:70%;
	height:2.60rem;
	overflow:hidden;
	position: relative;
}
.invitationSix_img1 img{
	width:2.40rem;
	height:2.40rem;
	border:solid. 2rem #f3a558;
	border-radius:50%;
	margin-left:.40rem;
}
.invitationSix_img{
	width:30%;
}
.invitationSix_img img{
	width:.54rem;
	height:3.42rem;
}
.invitationSeven_top{
	width:6.66rem;
	margin:0.4rem auto;	
	width:6.20rem;
	position: relative;
}
.invitationSeven_top img{
	height:4.20rem;
	width:6.20rem;
	margin:0 auto;
	border-radius:.20rem;
	padding:.20rem;
	border:solid 1px #f3a558;
}

.brage{
	margin:.32rem auto;
}
.brage_center{
	margin:0 .20rem;
}
.brage_center img{
	width:.70rem;
	height:.84rem;
}
.brage_name{
	height:.80rem;
	border-top:solid 0.01rem #f3a558;
	border-bottom:solid 0.01rem #f3a558;
	color:#f3a558;
	font-size:.36rem;
	line-height:.80rem;
}
/**2-1**/
.brage_name input{
	background:none;
	border:0;
}
.invitationSecondOne_right{
	animation: widthExpand 4s infinite linear;
}
.invitationSecondOne_center_line{
	animation: widthExpand 4s infinite linear;
}
@keyframes widthExpand {
    from {
        width:0%;
        opacity:0;
    }

    to {
        width:70%;
        opacity: 1
    }
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,0,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,40px,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,0,0);
        opacity:0;
    }

    to {
        transform: translate3d(0,40px,0);
        opacity: 1;
    }
}
@keyframes fadeInDown {
    from {
        transform: translate3d(0,0px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,-0.4rem,0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInDown {
    from {
        transform: translate3d(0,0,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,-0.4rem,0);
        opacity: 1
    }
}
@keyframes fadeInLeft {
    from {
        transform: translate3d(0.40rem,0rem,0);
        opacity:0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        transform: translate3d(0.40rem,0rem,0);
        opacity:0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}
@keyframes fadeInRight {
    from {
        transform: translate3d(-0.40rem,0rem,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInRight {
    from {
        transform: translate3d(-0.40rem,0rem,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
.animated2 {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
.animated1 {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}
.fadeLeft{
    animation: fadeInLeft 0.5s linear;
    -webkit-animation: fadeInLeft 0.5s linear;
}
.fadeRight5{
    animation: fadeInRight 5s linear;
    -webkit-animation: fadeInRight 5s linear;
}
.fadeRight3{
    animation: fadeInRight 3s linear;
    -webkit-animation: fadeInRight 3s linear;
}
.fadeRight{
    animation: fadeInRight both 0.5s linear;
    -webkit-animation: fadeInRight both 0.5s linear;
}
.fadeUp{
    animation: fadeInUp both 0.5s linear;
    -webkit-animation: fadeInUp both 0.5s linear;
}
@keyframes scaleImg {
    from {
        transform: scale3d(0.9,0.9,0.9);
        opacity: 0;
    }

    to {
        transform: scale3d(1.2,1.2,1.2);
        opacity: 1
    }
}
@keyframes rotateImg{
    from {
        transform:rotate(12deg);
    }

    to {
        transform:rotate(2deg);
    }
}
.rotateImg{
    animation: rotateImg both 0.5s linear;
    -webkit-animation: rotateImg both 0.5s linear;
}
.dalay-1s{
     animation-delay:0.2s; 
}
.dalay-2s{
     animation-delay:0.4s; 
}
.dalay-3s{
     animation-delay:0.6s; 
}

.scaleImg{
    animation: scaleImg both 0.5s linear;
    -webkit-animation: scaleImg both 0.5s linear;
}
@keyframes scaleImg{
    from {
        transform: scale3d(0.9,0.9,0.9);
        opacity: 0;
    }

    to {
        transform: scale(1.2,1.2,1.2);
        opacity: 1
    }
}
.scaleImg{
    animation: ratoteImg both 0.5s linear;
    -webkit-animation: ratoteImg both 0.5s linear;
}
@keyframes ratoteImg{
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
.active .invitationSecondOne_img{
	 animation: fadeInRight both 0.5s linear;
	-webkit-animation: fadeInRight both 0.5s linear;
}
.active .invitationSecondOne_b_left{
	animation: fadeInRight both 0.5s linear;
	-webkit-animation: fadeInRight both 0.5s linear;
}
.active .invitationSecondOne_b_right{
	animation: fadeInLeft both 0.5s linear;
	-webkit-animation: fadeInLeft both 0.5s linear;
}
.active .invitationSecondTwo_left_top{
	animation: fadeInRight both 0.5s linear;
	-webkit-animation: fadeInRight both 0.5s linear;
}
.active .invitationSecondTwo_right_top{
	animation: fadeInLeft both 0.5s linear;
	-webkit-animation: fadeInLeft both 0.5s linear;
}
.active .invitationSecondTwo_bottom .img_item{
	animation: fadeInRight both 0.5s linear;
	-webkit-animation: fadeInRight both 0.5s linear;
}
.active .invitationThree_left_word .word_item{
	animation: fadeInUp both 0.5s linear;
	-webkit-animation: fadeInUp both 0.5s linear;
}
.active .invitationThree_right_img1{
	animation: fadeInUp both 0.5s linear;
	-webkit-animation: fadeInUp both 0.5s linear;
}
.active .invitationThree_right_img2{
	animation: fadeInUp both 0.5s linear;
	-webkit-animation: fadeInUp both 0.5s linear;
}
.active .invitationSecondFour_left{
	animation: fadeInRight both 0.5s linear;
	-webkit-animation: fadeInRight both 0.5s linear;
}
.active .invitationSecondFour_right{
	animation: fadeInLeft both 0.5s linear;
	-webkit-animation: fadeInLeft both 0.5s linear;
}
.active .invitationSecondFour_b_left{
	animation: fadeInRight both 0.5s linear;
	-webkit-animation: fadeInRight both 0.5s linear;
}
.active .invitationSecondFour_b_right{
	animation: fadeInLeft both 0.5s linear;
	-webkit-animation: fadeInLeft both 0.5s linear;
}
.active .invitationFive_top .invitationFive_word {
	animation: fadeInRight both 0.5s linear;
	-webkit-animation: fadeInRight both 0.5s linear;
}
.active .invitationFive_center{
	animation: fadeInUp both 0.5s linear;
	-webkit-animation: fadeInUp both 0.5s linear;
}
.active .invitationSix_top{
	animation: fadeInRight both 3s linear;
	-webkit-animation: fadeInRight both 3s linear;
}
.active .invitationSix_center{
	animation: rotateImg both 3s linear;
	-webkit-animation: rotateImg both 3s linear;
}
.active .invitationSix_img1{
	animation: fadeInRight both 3s linear;
	-webkit-animation: fadeInRight both 3s linear;
}
.active .invitationSix_img{
	animation: fadeInLeft both 3s linear;
	-webkit-animation: fadeInLeft both 3s linear;
}
.upload{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0;
}